@import '../configs/globals';

.formImage {
	display: flex;
	align-items: center;
	justify-content: space-between;

	background: linear-gradient(145deg, $black, rgba($black, 0.95));

	@include borderRadius;

	@include tablet {
		gap: 2.5em;
		flex-direction: column;
		align-items: flex-start;
	}

	> * {
		flex: 1;
		width: 100%;
	}
}
