@import '../configs/globals';

.formImage {
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;

	max-height: 550px;

	background: linear-gradient(145deg, $black, rgba($black, 0.95));

	@include borderRadius;

	@include tablet {
		gap: 1em;
		flex-direction: column;
		align-items: flex-start;
		max-height: 100%;
	}
}
