@import '../configs/globals';

.form {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	max-width: 500px;
	min-width: 500px;

	color: $white;
	padding: 1em 2em;

	@include laptop {
		min-width: 315px;
		padding: 1em 1.5em;
	}

	@include tablet {
		min-width: 100%;
	}

	@include mobile {
		padding: 1em;
	}

	label:not(:first-of-type) {
		margin-top: 1em;
	}

	input,
	textarea {
		padding: 0.5em;
		border: 2px solid rgba($white, 0.5);
		background-color: $white;
		color: $black;

		&:focus {
			border-color: $white;
		}

		@include borderRadius;
	}

	textarea {
		resize: none;
		min-height: 7.5em;
	}

	button {
		margin-top: 2em;
		padding: 0.5em 1em;
		letter-spacing: 0.25px;
		background-color: $black;
		border: 2px solid $white;
		color: $white;
		align-self: flex-end;
		text-transform: uppercase;
		cursor: pointer;

		@include smoothTrans;

		&:hover {
			background-color: rgba($black, 0.95);
			border-color: $gold;
		}

		@include borderRadius;
	}
}
