@import '../configs/globals';

.form {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	max-width: 500px;
	color: $white;
	padding: 1em 2.5em;

	@include mobile {
		padding: 1em;
	}

	label {
		margin-top: 1em;
	}

	input,
	textarea {
		padding: 0.5em;
		border: 2px solid rgba($white, 0.5);
		color: $white;

		&:focus {
			border-color: $white;
		}

		@include borderRadius;
	}

	textarea {
		resize: none;
		min-height: 7.5em;
	}

	button {
		margin-top: 2em;
		padding: 0.5em 1em;
		letter-spacing: 0.25px;
		background-color: $black;
		border: 2px solid $white;
		color: $white;
		align-self: flex-end;
		cursor: pointer;

		&:hover {
			background-color: rgba($black, 0.95);
			border-color: $gold;
		}

		@include borderRadius;
	}
}
