@import '../configs/globals';

.intro {
	background: $black;
	color: $white;
	outline: $white 10px solid;
	width: 87.5%;
	margin: -100px auto 0;
	position: relative;
	z-index: 1;
	padding: 2em;

	@include borderRadius;

	@include compact {
		padding: 1.5em;
		outline-width: 5px;
	}

	@include mobile {
		width: 100%;
		margin: -67.5px auto 0;
		outline-width: 7.5px;
	}

	p {
		// max-width: 75ch;

		&:nth-of-type(2) {
			color: $gold;
		}
	}
}
