@import '../configs/globals';

.partner {
	$this: &;

	width: 87.5%;
	margin: 0 auto;

	@include mobile {
		width: 100%;
	}

	#{$this}-wrapper {
		@include borderRadius;

		#{$this}-slide {
			overflow: hidden;
			cursor: pointer;

			@include borderRadius;

			#{$this}-image {
				opacity: 0.9;
			}
		}
	}
}
