@mixin container($maxWidth: 1800px) {
	max-width: $maxWidth;
	margin: 0 auto;
	padding: 0 2em;
	width: 100%;
}

@mixin smoothTrans($style: all) {
	transition: $style 0.2s ease-in-out;
}

@mixin link {
	@include smoothTrans;

	&:hover {
		// text-decoration: underline;
		// text-underline-offset: 2px;
		// text-decoration-color: $gold;
	}
}
