// @import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

@import './configs/resets';
@import './configs/globals';

:root {
	--swiper-theme-color: gold !important;
	--swiper-theme-color-hover: #191919 !important;
	--swiper-scrollbar-drag-bg-color: gold !important;
	--swiper-pagination-color: gold !important;
	--swiper-scrollbar-bg-color: #181a3730 !important;
	--swiper-pagination-bullet-inactive-color: #fff !important;
	--swiper-pagination-bullet-inactive-color-hover: gold !important;
	--swiper-pagination-bullet-inactive-opacity: 0.125 !important;
}

.the-plan {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9375rem;
	background-color: $white;
	color: $black;

	@include container;
}

header {
	display: flex;
	justify-content: space-between;
}

main {
	flex: 1;
	margin: 2em 0;
}

footer {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
}

section:not(:last-of-type) {
	margin-bottom: 2em;
}

h1 {
	font-family: 'Merriweather', serif;
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 0.5em;
}

h2 {
	font-family: 'Merriweather', serif;
	font-size: 1.75rem;
	margin-bottom: 0.5em;
}

h3 {
	font-family: 'Merriweather', serif;
	font-size: 1.5rem;
	margin-bottom: 0.5em;
}

h4 {
	font-family: 'Merriweather', serif;
	font-size: 1.125rem;
	margin-bottom: 0.5em;
}

h5 {
	font-family: 'Merriweather', serif;
	font-size: 0.875rem;
	margin-bottom: 0.5em;
}

h6 {
	font-size: 0.875rem;
	font-weight: bold;
}

p {
	font-weight: 300;
	line-height: 1.5;

	&:not(:last-child) {
		margin-bottom: 1em;
	}
}

.responsive-tag {
	position: fixed;
	top: 1%;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.25em 0.75em;
	z-index: 1000;
	font-weight: bold;
	text-align: center;
	background-color: $white;
	opacity: 0.5;
	color: $black;
	outline: $black 1px solid;
}
